<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="icon" href="/pics/favicon.ico" />
        <title>EMH</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h5 class="navbar-brand">Emily Masako Huntsman</h5>
                </div>
                <ul class="navbar-nav nav menu-list">
                    <li class="nav-item"><a href="/">home</a></li> |
                    <li class="nav-item"><a href="/about">about</a></li> |
                    <li class="nav-item"><a href="/contact">contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="about-header container-fluid">
            <div class="p-div">
                <div class="p-left">
                    <h1>AB</h1>
                    <h1>OUT</h1>
                </div>
            </div>
            <div class="background">
                <p>
                    A mathematician and ameteur beekeeper, I find beauty in uniform yet elegant methodology. Known for my detail-oriented nature when I focus on a specific problem, I revel in engineering clean solutions that might not be obvious. I am patient. I am driven by work that I believe to be fundamentally good; I’m excited to be proud to share what I do.
                </p>
            </div>
        </div>
        <div class="container-fluid ext-brand">
            <p>
                I was 8 when I fell in love with algorithms--they're clean, widely applicable, and optimizable. At that time, algorithms looked like sorting pebbles into equally sized piles and learning how to do long division, but the sentiment and feeling of a breakthrough has remained the same.
            </p>
            <p>
                Even, and maybe especially, as I grow older, I continue to chase that moment of small victory. It fuelled me to learn computer science for the first time in high school, and it continued to fuel me in pursuing a math and cs degree from Barnard College in New York. I dove into software engineering and found that this search for a breakthrough which I had so often thought of as rare is a constant ocurrence in the field, where we are always mastering new tech to keep up with an ever-changing world. 
            </p>
        </div>
        <div class="info container-fluid">
            <div class="p-div">
                <div class="p-left">
                    <h2>TE</h2>
                    <h2>CH</h2>
                </div>
            </div>
            <div class="background">
                <ul class="tech">
                    <li>HTML/CSS</li>
                    <li>Firebase</li>
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>MongoDB</li>
                    <li>EJS</li>
                </ul>
                <ul class="tech">
                    <li>C</li>
                    <li>Express</li>
                    <li>Python</li>
                    <li>jQuery</li>
                    <li>Bootstrap</li>
                </ul>
                <ul class="tech">
                    <li>Flask/Django</li>
                    <li>Node</li>
                    <li>React</li>
                    <li>Heroku</li>
                    <li>C++</li>
                    <li>SQL</li>
                </ul>
            </div>
        </div>
        <div class="info container-fluid">
            <div class="p-div">
                <div class="p-left">
                    <h2>SKI</h2>
                    <h2>LLS</h2>
                </div>
            </div>
            <div class="background">
                <ul class="skills">
                    <li>version control</li>
                    <li>user interface design</li>
                    <li>user experience</li>
                    <li>wireframing</li>
                </ul>
                <ul class="skills">
                    <li>responsive web</li>
                    <li>agile methodologies</li>
                    <li>trello</li>
                    <li>pair programming</li>
                </ul>
            </div>
        </div>
        <hr class="divide bottom">
        <footer class="footer">
            <div class="d1">
                <p>EMH</p>
            </div>
            <div class="d2">
                <ul class="navbar-nav nav menu-list" style="flex-direction: row; color: darkgray">
                    <li class="nav-item"><a href="https://www.linkedin.com/in/emily-huntsman/">LinkedIn</a></li> |
                    <li class="nav-item"><a href="https://github.com/root2point0">Github</a></li> |
                    <li class="nav-item"><a href="mailto:emh2237@barnard.edu">Email</a></li>
                </ul>
            </div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>