<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <title>EMH</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h5 class="navbar-brand">Emily Masako Huntsman</h5>
                </div>
                <ul class="navbar-nav nav menu-list">
                    <li class="nav-item"><a href="/">home</a></li> |
                    <li class="nav-item"><a href="/about">about</a></li> |
                    <li class="nav-item"><a href="/contact">contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="contact-header container-fluid">
            <div class="c-div">
                <div class="c-left">
                    <h1>CON</h1>
                    <h1>TACT</h1>
                </div>
            </div>
            <div class="contact-info">
                <p>phone: (818)-391-6098</p>
                <p>email: emh2237@barnard.edu</p>
                <p>github: github.com/root2point0</p>
                <p>linkedin: linkedin.com/in/emily-huntsman</p>
            </div>
        </div>
        <div class="container-fluid maps">
            <div class="map-div">
                <img src="/pics/la.png" />
                <img src="/pics/ny.png" />
            </div>
            <div class="location">
                <p>location: New York, NY / Los Angeles, CA</p>
            </div>
        </div>
        <hr class="divide bottom">
        <footer class="footer">
            <div class="d1">
                <p>EMH</p>
            </div>
            <div class="d2">
                <ul class="navbar-nav nav menu-list" style="flex-direction: row; color: darkgray">
                    <li class="nav-item"><a href="https://www.linkedin.com/in/emily-huntsman/">LinkedIn</a></li> |
                    <li class="nav-item"><a href="https://github.com/root2point0">Github</a></li> |
                    <li class="nav-item"><a href="/contact">Email</a></li>
                </ul>
            </div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>