<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="icon" href="/pics/favicon.ico" />
    <title>EMH</title>
</head>
<body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h5 class="navbar-brand">Emily Masako Huntsman</h5>
                </div>
                <ul class="navbar-nav nav menu-list">
                    <li class="nav-item"><a href="/">home</a></li> |
                    <li class="nav-item"><a href="/about">about</a></li> |
                    <li class="nav-item"><a href="/contact">contact</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid minimal-brand">
            <p>minimal, user-centric design.</p>
            <p>tireless attention to detail.</p>
            <p>and I love what I do.</p>
        </div>
        <hr class="divide">
        <div class="project-header container-fluid">
            <div class="b-div">
                <div class="p-left">
                    <h1>PRO</h1>
                    <h1>JECTS</h1>
                </div>
            </div>
            <div class="black-box">
                img
            </div>
        </div>
        <hr class="divide dotted">
        <div class="project-section container-fluid" onclick="location.href='https://mismatch-me.herokuapp.com/'">
            <div class="project-i">
                <img src="/pics/mismatch1.png" />
            </div>
            <div class="b-div">
                <div class="p-left">
                    <a href="https://mismatch-me.herokuapp.com/"><h4>mismatch.com</h4></a>
                    <p>My most recent project, I wanted to explore several new technologies while playing with the idea of a dating app. Mismatch.com was conceived from the idea that opposites attract, offering "would you rather" style questions and directing the user to chatrooms in which people can discuss their differing opinions. At any time you can abandon the chat to chose another question/partner. The site was built with a Django backend which utilizes Postgres and JWT for user authentication. The frontend is a React app deployed on Heroku and uses Firebase for real-time chat rooms as well as Google Analytics.</p>
                </div>
            </div>
        </div>
        <hr class="divide dotted">
        <div class="project-section container-fluid" onclick="location.href='https://sudb-front.herokuapp.com/'">
            <div class="b-div">
                <div class="p-left">
                    <a href="https://sudb-front.herokuapp.com/"><h4>SUDB</h4></a>
                    <p>I developed this website with a few friends as a pair-programming exercise after we all bonded over our love for great books. SUDB was developed as a full stack web application that utilizes a Google Books API to facilitate users adding books of their choosing to the "To Be Read" and "Already Read" lists as well as the New York Times Bestseller API to introduce new books via our "Blind Date with a Bestseller Feature". The app is built on a MERN (Mongoose, Express, React, Node) stack backend and uses bcrypt for user authentification.</p>
                </div>
            </div>
            <div class="project-i">
                <img src="/pics/sudb1.png" />
            </div>
        </div>
        <hr class="divide dotted">
        <div class="project-section container-fluid" onclick="location.href='https://spiritualcardboard.herokuapp.com/'">
            <div class="project-i">
                <img src="/pics/spiritual1.png" />
            </div>
            <div class="b-div">
                <div class="p-left">
                    <a href="https://spiritualcardboard.herokuapp.com/"><h4>Spiritual Cardboard</h4></a>
                    <p>My best friend Tommy has been drawing for years, and he's constantly receiving DMs from people hoping to buy one of his prints, so he set up a basic shopify account. I love him to death but the site was a ruddy green which made its dark text hard to read, poorly aligned, and not optimized for the user experience. I decided to take a crack at remaking it, with the main goal of echoing his instagram feed, since that's where the majority of users would be redirected from. I implemented it using Node.js, Express, Mongoose/MongoDB, EJS, Bootstrap.</p>
                </div>
            </div>
        </div>
        <hr class="divide dotted">
        <div class="project-section container-fluid" onclick="location.href='http://root2point0.github.io/spot.me/'">
            <div class="b-div">
                <div class="p-left">
                    <h4>Spot.Me</h4>
                    <p>My main focus in with spot.me was to keep the interface simple, extracting as much data as possible from a straightforward user request. Each time the page is refreshed, a new token is checked out through ajax. I grabbed the  three artist ids as my first three recommendation parameters and cross-referenced their artist genres, pulling any category that appeared in at least two of the three artists to use as another search query. I then used a few more pieces or information to fine-tune the results. Local storage was implemented to keep display user's previous three playlists. Technologies used include Node.js, jQuery, ajax, and the Spotify API.</p>
                </div>
            </div>
            <div class="project-i">
                <img src="/pics/spotme1.png" />
            </div>
        </div>
        <hr class="divide bottom">
        <footer class="footer">
            <div class="d1">
                <p>EMH</p>
            </div>
            <div class="d2">
                <ul class="navbar-nav nav menu-list" style="flex-direction: row; color: darkgray">
                    <li class="nav-item"><a href="https://www.linkedin.com/in/emily-huntsman/">LinkedIn</a></li> |
                    <li class="nav-item"><a href="https://github.com/root2point0">Github</a></li> |
                    <li class="nav-item"><a href="mailto:emh2237@barnard.edu">Email</a></li>
                </ul>
            </div>
        </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>