body {
    background-color: #F4F4F6;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.navbar {
    background-color: #DADDE7;
}

.nav li a {
    padding-left: 20px;
    padding-right: 20px;
    color: darkgray;
}

.navbar-brand, .menu-list, .menu-list li a, .footer div p {
    color: #212529;
    flex-direction: row;
}

.minimal-brand, .ext-brand {
    width: 85%;
    height: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BABFD1;
    border-radius: 3px;
}

.minimal-brand p {
    font-weight: bold;
    font-size: x-large;
}

.divide {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bottom {
    margin-top: 70px;
}

.dotted {
    border-top: 1px dotted darkgrey;
}

.project-header, .project-section, .about-header, .info, .contact-header {
    height: 500px;
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: #BABFD1;
    border-radius: 3px;
}

.project-header {
    height: 300px;
}

img {
    border-radius: 3px
}

.about-header, .info, .contact-header {
    height: 200px;
    width: 75%;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 3px;
}

.contact-header {
    height: 340px;
}

.maps {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.info {
    height: 250px;
}

.black-box, .project-header div, .project-i, .b-div, .p-div, .background, .contact-info, .c-div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    border-radius: 3px;
}

.c-div {
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 5px;
    background-color: #F4F4F6;
}

.p-div {
    padding-left: 30px;
    background-color: #F4F4F6;
}

.b-div {
    background-color: white;
}

.p-div, .c-div {
    width: 22%;
}

.project-i {
    background-color: white;
}

.background, .contact-info {
    width: 78%;
}

.black-box, .project-i, .background, .contact-info {
    align-items: center;
}

.background {
    flex-direction: row;
    background-color: #F4F4F6;
}

.background p {
    padding-left: 9px;
}

.contact-info {
    align-items: flex-start;
    background-color: #F4F4F6;
}

.p-left, .c-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.footer {
    font-size: 80%;
    color: darkgray;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.d1, .d2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d1 {
    width: 15%;
}

.d2 {
    flex-direction: row;
    width: 100%;
    transform: translate(-8%,0);
}

.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-div {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.map-div img {
    width: 40%;
    margin-top: 30px;
}

.location {
    margin-top: 30px;
    margin-bottom: 20px;
}


.project-i img {
    height: 100%;
}

.tech, .skills {
    list-style: none;
}

.contact-info p {
    margin-left: 45px;
    padding: 12px;
    font-size: 120%;
}

.location p {
    font-size: 120%;
}

.p-left h4 {
    color: black;
}

.p-left a {
    text-decoration: none;
}